NEXT_PUBLIC_API_URL=http://localhost:3001
# Production example:
# NEXT_PUBLIC_API_URL=https://contrx.onrender.com
NEXT_PUBLIC_APP_URL=http://localhost:3000/login
# NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/55DDDNUMERO?text=Quero%20conhecer%20o%20Contrx
